	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2016 14:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-adult-and-child-males:before { content: "\f100"; }
.flaticon-adult-and-child-silhouettes:before { content: "\f101"; }
.flaticon-adult-and-minor:before { content: "\f102"; }
.flaticon-adults-couple-with-a-child:before { content: "\f103"; }
.flaticon-applicants-for-a-business-job:before { content: "\f104"; }
.flaticon-architect-with-building-project:before { content: "\f105"; }
.flaticon-ascending-graphic-of-a-businessman:before { content: "\f106"; }
.flaticon-baby-in-mother-uterus:before { content: "\f107"; }
.flaticon-balance-man-posture:before { content: "\f108"; }
.flaticon-balanced-symbol-with-a-man-and-a-flag:before { content: "\f109"; }
.flaticon-boy-jumping-rope:before { content: "\f10a"; }
.flaticon-business:before { content: "\f10b"; }
.flaticon-business-graphic-of-hierarchy:before { content: "\f10c"; }
.flaticon-business-graphic-triangle:before { content: "\f10d"; }
.flaticon-business-graphics:before { content: "\f10e"; }
.flaticon-business-man-pointing-to-his-left:before { content: "\f10f"; }
.flaticon-business-man-showing-blank-publicity-board:before { content: "\f110"; }
.flaticon-business-man-standing-with-a-dollar-coin:before { content: "\f111"; }
.flaticon-business-man-throwing-papers:before { content: "\f112"; }
.flaticon-business-man-with-archives:before { content: "\f113"; }
.flaticon-business-man-with-circular-stats-graphic:before { content: "\f114"; }
.flaticon-business-man-with-clock-to-control-time-of-work:before { content: "\f115"; }
.flaticon-business-man-with-triangular-flag-on-a-pole:before { content: "\f116"; }
.flaticon-business-meeting:before { content: "\f117"; }
.flaticon-business-meeting-of-males:before { content: "\f118"; }
.flaticon-business-men-around-target-concentric-circles-symbol:before { content: "\f119"; }
.flaticon-business-people-meeting:before { content: "\f11a"; }
.flaticon-business-resources-graphic-of-a-businessman:before { content: "\f11b"; }
.flaticon-business-scale-with-a-man-and-resources-gears-symbol:before { content: "\f11c"; }
.flaticon-business-time-for-two-businessmen:before { content: "\f11d"; }
.flaticon-businessman:before { content: "\f11e"; }
.flaticon-businessman-1:before { content: "\f11f"; }
.flaticon-businessman-and-clock:before { content: "\f120"; }
.flaticon-businessman-and-oval-world-grid-behind:before { content: "\f121"; }
.flaticon-businessman-and-wall-clock:before { content: "\f122"; }
.flaticon-businessman-ascending-one-step:before { content: "\f123"; }
.flaticon-businessman-balancing-times:before { content: "\f124"; }
.flaticon-businessman-carrying-men-in-world-grid:before { content: "\f125"; }
.flaticon-businessman-clients-portfolio:before { content: "\f126"; }
.flaticon-businessman-going-down-by-stair-steps-with-suitcase-in-his-right-hand:before { content: "\f127"; }
.flaticon-businessman-holding-blank-billboard:before { content: "\f128"; }
.flaticon-businessman-holding-books:before { content: "\f129"; }
.flaticon-businessman-improving-graphic:before { content: "\f12a"; }
.flaticon-businessman-in-a-presentation-pointing-a-board-with-graphics:before { content: "\f12b"; }
.flaticon-businessman-in-business-graphic-of-ascending-bars:before { content: "\f12c"; }
.flaticon-businessman-on-cloud:before { content: "\f12d"; }
.flaticon-businessman-on-graphic-of-business-resources:before { content: "\f12e"; }
.flaticon-businessman-options-to-choose:before { content: "\f12f"; }
.flaticon-businessman-pointing-a-board-with-stats-graphic-of-business:before { content: "\f130"; }
.flaticon-businessman-pointing-to-his-right:before { content: "\f131"; }
.flaticon-businessman-presenter-presenting-business-stats-graphic-on-a-board:before { content: "\f132"; }
.flaticon-businessman-resources-graphic:before { content: "\f133"; }
.flaticon-businessman-running-fast-with-suitcase-in-right-hand:before { content: "\f134"; }
.flaticon-businessman-running-in-a-wheel:before { content: "\f135"; }
.flaticon-businessman-saving-money-in-a-piggy-box:before { content: "\f136"; }
.flaticon-businessman-search-symbol:before { content: "\f137"; }
.flaticon-businessman-showing-stats-graphic:before { content: "\f138"; }
.flaticon-businessman-showing-stats-graphic-1:before { content: "\f139"; }
.flaticon-businessman-sitting-on-his-office-desk:before { content: "\f13a"; }
.flaticon-businessman-standing-on-business-target-concentric-circles:before { content: "\f13b"; }
.flaticon-businessman-standing-on-oval-planet-grid:before { content: "\f13c"; }
.flaticon-businessman-standing-with-a-suitcase:before { content: "\f13d"; }
.flaticon-businessman-standing-with-circular-business-graphic:before { content: "\f13e"; }
.flaticon-businessman-standing-with-graphic-on-a-board:before { content: "\f13f"; }
.flaticon-businessman-standing-with-puzzle-piece:before { content: "\f140"; }
.flaticon-businessman-talking-about-business-stocks-stats:before { content: "\f141"; }
.flaticon-businessman-talking-about-ecological-business-strategies:before { content: "\f142"; }
.flaticon-businessman-with-drawer-furniture:before { content: "\f143"; }
.flaticon-businessman-with-email-symbol:before { content: "\f144"; }
.flaticon-businessman-with-graphic-of-stocks:before { content: "\f145"; }
.flaticon-businessman-with-international-communication-tool:before { content: "\f146"; }
.flaticon-businessman-with-password:before { content: "\f147"; }
.flaticon-businessman-with-tax-free-balloons-couple:before { content: "\f148"; }
.flaticon-businessman-with-unlock-symbol:before { content: "\f149"; }
.flaticon-businessman-working-on-economy:before { content: "\f14a"; }
.flaticon-businessman-working-online-with-a-laptop:before { content: "\f14b"; }
.flaticon-businessmen-behind-desk:before { content: "\f14c"; }
.flaticon-businessmen-connections:before { content: "\f14d"; }
.flaticon-businessmen-exchange:before { content: "\f14e"; }
.flaticon-businessmen-exchange-1:before { content: "\f14f"; }
.flaticon-businessmen-exchange-2:before { content: "\f150"; }
.flaticon-businessmen-graphic-with-up-arrow:before { content: "\f151"; }
.flaticon-businessmen-hierarchical-graphic-of-males-human-resources:before { content: "\f152"; }
.flaticon-businessmen-hierarchy-with-a-leader:before { content: "\f153"; }
.flaticon-businessmen-meeting-with-a-flag:before { content: "\f154"; }
.flaticon-businessmen-perspective:before { content: "\f155"; }
.flaticon-businessmen-salutation:before { content: "\f156"; }
.flaticon-businessmen-salutation-standing-one-in-front-the-other-and-one-carrying-a-suitcase:before { content: "\f157"; }
.flaticon-businessmen-team:before { content: "\f158"; }
.flaticon-businessmen-with-graphics-of-business-stocks:before { content: "\f159"; }
.flaticon-child-with-adult-man:before { content: "\f15a"; }
.flaticon-circular-graphic-of-money:before { content: "\f15b"; }
.flaticon-couple-beside-home:before { content: "\f15c"; }
.flaticon-couple-in-love:before { content: "\f15d"; }
.flaticon-couple-of-male-persons-in-love:before { content: "\f15e"; }
.flaticon-dancing-man-posture:before { content: "\f15f"; }
.flaticon-deal:before { content: "\f160"; }
.flaticon-descending-money-arrow-graphic-and-a-businessman:before { content: "\f161"; }
.flaticon-exercising-posture:before { content: "\f162"; }
.flaticon-factory-worker:before { content: "\f163"; }
.flaticon-family-group-silhouette:before { content: "\f164"; }
.flaticon-family-of-four-in-front-of-their-home:before { content: "\f165"; }
.flaticon-family-of-four-with-two-minors-and-two-adults:before { content: "\f166"; }
.flaticon-family-of-three:before { content: "\f167"; }
.flaticon-father-lifting-his-baby:before { content: "\f168"; }
.flaticon-father-playing-with-son:before { content: "\f169"; }
.flaticon-frontal-standing-business-man-posture:before { content: "\f16a"; }
.flaticon-frontal-stretching-yoga-posture-from-side-view:before { content: "\f16b"; }
.flaticon-golf-hole-and-flag:before { content: "\f16c"; }
.flaticon-graduate-on-business-with-certificate:before { content: "\f16d"; }
.flaticon-graphics:before { content: "\f16e"; }
.flaticon-group-of-men:before { content: "\f16f"; }
.flaticon-group-of-three-men-standing-side-by-side-hugging-each-other:before { content: "\f170"; }
.flaticon-high-five-between-two-businessmen:before { content: "\f171"; }
.flaticon-homosexual-couple-of-two-men:before { content: "\f172"; }
.flaticon-human-exercise-posture:before { content: "\f173"; }
.flaticon-human-familiar-group-of-four:before { content: "\f174"; }
.flaticon-human-male-balanced-scale:before { content: "\f175"; }
.flaticon-human-resources-business-graphic:before { content: "\f176"; }
.flaticon-human-resources-for-business:before { content: "\f177"; }
.flaticon-human-resources-symbol:before { content: "\f178"; }
.flaticon-hurry-businessman:before { content: "\f179"; }
.flaticon-incoming-money:before { content: "\f17a"; }
.flaticon-international-businessman-with-world-like-balloon:before { content: "\f17b"; }
.flaticon-international-businessmen:before { content: "\f17c"; }
.flaticon-internet-like-a-bridge-concept-for-a-man-sitting-with-a-laptop:before { content: "\f17d"; }
.flaticon-inverted-circulation-yoga-posture-of-a-man:before { content: "\f17e"; }
.flaticon-inverted-exercise-man-posture:before { content: "\f17f"; }
.flaticon-inverted-man-posture-with-head-down-on-floor:before { content: "\f180"; }
.flaticon-inverted-yoga-posture:before { content: "\f181"; }
.flaticon-inverted-yoga-posture-of-a-man-with-flexed-legs:before { content: "\f182"; }
.flaticon-lecture:before { content: "\f183"; }
.flaticon-love-with-couple:before { content: "\f184"; }
.flaticon-lying-man-posture-silhouette:before { content: "\f185"; }
.flaticon-lying-man-silhouette:before { content: "\f186"; }
.flaticon-lying-posture-of-excercise:before { content: "\f187"; }
.flaticon-lying-relaxing-yoga-posture-of-a-man-from-side-view:before { content: "\f188"; }
.flaticon-magistrate-with-hammer:before { content: "\f189"; }
.flaticon-male-applicants-for-a-job:before { content: "\f18a"; }
.flaticon-male-business-group-of-men:before { content: "\f18b"; }
.flaticon-male-ecological-class:before { content: "\f18c"; }
.flaticon-male-human-group:before { content: "\f18d"; }
.flaticon-males-friends-hug-side-by-side:before { content: "\f18e"; }
.flaticon-man:before { content: "\f18f"; }
.flaticon-man-and-auricular-phone:before { content: "\f190"; }
.flaticon-man-and-cash-machine-from-side-view:before { content: "\f191"; }
.flaticon-man-behind-blank-billboard:before { content: "\f192"; }
.flaticon-man-carrying-other-person-on-his-back:before { content: "\f193"; }
.flaticon-man-exercise-posture-from-side-view-with-rised-arms:before { content: "\f194"; }
.flaticon-man-exercising:before { content: "\f195"; }
.flaticon-man-exercising-on-a-stationery-bicycle:before { content: "\f196"; }
.flaticon-man-giving-a-flower-to-his-girlfriend-as-love-symbol-in-romantic-posture-on-his-knee:before { content: "\f197"; }
.flaticon-man-holding-a-signal-of-labor-strike:before { content: "\f198"; }
.flaticon-man-holding-an-umbrella-under-dollars-money-rain:before { content: "\f199"; }
.flaticon-man-holding-blank-billboard:before { content: "\f19a"; }
.flaticon-man-holding-blank-publicity-space:before { content: "\f19b"; }
.flaticon-man-holding-white-board:before { content: "\f19c"; }
.flaticon-man-holding-white-signal-for-publicity:before { content: "\f19d"; }
.flaticon-man-hugging-a-friend:before { content: "\f19e"; }
.flaticon-man-improving-business-graphic-arrow-holding-it-up-for-ascendant-stock:before { content: "\f19f"; }
.flaticon-man-in-yoga-posture:before { content: "\f1a0"; }
.flaticon-man-lifting-blank-billboard:before { content: "\f1a1"; }
.flaticon-man-lying-on-gears:before { content: "\f1a2"; }
.flaticon-man-lying-sleeping-on-bed-while-alarm-clock-is-ringing:before { content: "\f1a3"; }
.flaticon-man-machine-circuit-symbol:before { content: "\f1a4"; }
.flaticon-man-of-business-with-a-tool:before { content: "\f1a5"; }
.flaticon-man-on-business-presentation-talking-about-money:before { content: "\f1a6"; }
.flaticon-man-on-sportive-posture:before { content: "\f1a7"; }
.flaticon-man-on-yoga-asana-stretching-back:before { content: "\f1a8"; }
.flaticon-man-on-yoga-posture:before { content: "\f1a9"; }
.flaticon-man-on-yoga-posture-for-invert-blood-circulation:before { content: "\f1aa"; }
.flaticon-man-on-yoga-posture-of-relaxation:before { content: "\f1ab"; }
.flaticon-man-posture-silhouette-standing-with-raised-arms:before { content: "\f1ac"; }
.flaticon-man-posture-with-opened-arms-and-legs-to-both-sides:before { content: "\f1ad"; }
.flaticon-man-practicing-exercise:before { content: "\f1ae"; }
.flaticon-man-practicing-sportive-exercises:before { content: "\f1af"; }
.flaticon-man-presenting-a-partner-in-business-presentation:before { content: "\f1b0"; }
.flaticon-man-running-on-treadmill-machine:before { content: "\f1b1"; }
.flaticon-man-silhouette:before { content: "\f1b2"; }
.flaticon-man-silhouette-from-side-view-practicing-exercise-posture-sitting-with-extended-legs-and-arms-to-front:before { content: "\f1b3"; }
.flaticon-man-silhouette-on-yoga-posture:before { content: "\f1b4"; }
.flaticon-man-silhouette-with-raised-arms:before { content: "\f1b5"; }
.flaticon-man-sitting-in-front-of-a-table-eating-and-drinking-while-having-lunch:before { content: "\f1b6"; }
.flaticon-man-sitting-on-bed-waking-up-with-clock-alarm-sound:before { content: "\f1b7"; }
.flaticon-man-sleeping-on-bed:before { content: "\f1b8"; }
.flaticon-man-speaking-by-a-speaker:before { content: "\f1b9"; }
.flaticon-man-speaking-by-microphone-to-male-audience:before { content: "\f1ba"; }
.flaticon-man-standing-beside-a-house:before { content: "\f1bb"; }
.flaticon-man-standing-beside-a-washing-machine-of-laundry:before { content: "\f1bc"; }
.flaticon-man-standing-beside-drawers-of-an-office:before { content: "\f1bd"; }
.flaticon-man-standing-holding-a-bill-in-his-raised-right-hand:before { content: "\f1be"; }
.flaticon-man-standing-on-business-graphic:before { content: "\f1bf"; }
.flaticon-man-standing-under-the-shower-cleaning-his-head-from-side-view:before { content: "\f1c0"; }
.flaticon-man-standing-with-a-pencil:before { content: "\f1c1"; }
.flaticon-man-standing-with-extended-arms-over-his-head:before { content: "\f1c2"; }
.flaticon-man-standing-with-extended-arms-to-sides:before { content: "\f1c3"; }
.flaticon-man-standing-with-parabolic-antenna-tool:before { content: "\f1c4"; }
.flaticon-man-stretching-frontal-posture-from-side-view:before { content: "\f1c5"; }
.flaticon-man-studying-with-a-laptop:before { content: "\f1c6"; }
.flaticon-man-talking-by-speaker:before { content: "\f1c7"; }
.flaticon-man-talking-on-a-lecture-by-microphone:before { content: "\f1c8"; }
.flaticon-man-talking-on-business-presentation-behind-a-podium-with-a-mic:before { content: "\f1c9"; }
.flaticon-man-talking-to-male-audience-with-a-speaker:before { content: "\f1ca"; }
.flaticon-man-waking-up-on-morning-sitting-on-bed-stretching-his-arms:before { content: "\f1cb"; }
.flaticon-man-with-a-flag:before { content: "\f1cc"; }
.flaticon-man-with-a-laptop:before { content: "\f1cd"; }
.flaticon-man-with-a-lock-padlock-signal:before { content: "\f1ce"; }
.flaticon-man-with-business-graphic:before { content: "\f1cf"; }
.flaticon-man-with-business-graphic-of-improving-stats:before { content: "\f1d0"; }
.flaticon-man-with-calculator:before { content: "\f1d1"; }
.flaticon-man-with-certificate:before { content: "\f1d2"; }
.flaticon-man-with-child:before { content: "\f1d3"; }
.flaticon-man-with-giftbox:before { content: "\f1d4"; }
.flaticon-man-with-mobile-phone:before { content: "\f1d5"; }
.flaticon-man-with-raised-arms-to-both-sides:before { content: "\f1d6"; }
.flaticon-man-with-shopping-cart:before { content: "\f1d7"; }
.flaticon-man-with-shopping-cart-1:before { content: "\f1d8"; }
.flaticon-man-with-stacked-boxes-on-shopping-cart:before { content: "\f1d9"; }
.flaticon-man-with-tax-percentage-signal:before { content: "\f1da"; }
.flaticon-man-with-two-options-to-choose-between-yes-or-no:before { content: "\f1db"; }
.flaticon-man-yoga-posture-sitting-with-rised-arms-upon-the-head:before { content: "\f1dc"; }
.flaticon-meditation-yoga-posture-of-a-sitting-man:before { content: "\f1dd"; }
.flaticon-men-business-cycle-graphic:before { content: "\f1de"; }
.flaticon-men-couple-sitting-on-a-table-talking-about-business:before { content: "\f1df"; }
.flaticon-men-holding-a-strike-signal:before { content: "\f1e0"; }
.flaticon-men-salutation-silhouette:before { content: "\f1e1"; }
.flaticon-men-with-recycle-symbol:before { content: "\f1e2"; }
.flaticon-men-with-up-and-down-arrows:before { content: "\f1e3"; }
.flaticon-money-with-business-by-internet:before { content: "\f1e4"; }
.flaticon-mother-walking-with-baby:before { content: "\f1e5"; }
.flaticon-old-man-from-frontal-view-with-a-cane:before { content: "\f1e6"; }
.flaticon-old-man-standing-with-a-cane:before { content: "\f1e7"; }
.flaticon-online-job-applicants:before { content: "\f1e8"; }
.flaticon-posture-of-balance:before { content: "\f1e9"; }
.flaticon-presenter-talking-about-people-on-a-screen:before { content: "\f1ea"; }
.flaticon-prisoner-man-with-money-fetter-and-ball:before { content: "\f1eb"; }
.flaticon-professor-teaching-about-world-to-students:before { content: "\f1ec"; }
.flaticon-recycling-businessmen:before { content: "\f1ed"; }
.flaticon-religious-man:before { content: "\f1ee"; }
.flaticon-runner-silhouette:before { content: "\f1ef"; }
.flaticon-safebox:before { content: "\f1f0"; }
.flaticon-searching-a-businessman:before { content: "\f1f1"; }
.flaticon-searching-people:before { content: "\f1f2"; }
.flaticon-simple-balance-posture-of-a-man:before { content: "\f1f3"; }
.flaticon-sleepwalker:before { content: "\f1f4"; }
.flaticon-sleepy-man-sitting-on-his-bed:before { content: "\f1f5"; }
.flaticon-soccer-player-with-ball:before { content: "\f1f6"; }
.flaticon-standing-balance-posture-stretching-right-leg-to-side:before { content: "\f1f7"; }
.flaticon-standing-business-man-looking-through-binoculars-to-distance:before { content: "\f1f8"; }
.flaticon-standing-business-man-with-a-tablet-on-hand:before { content: "\f1f9"; }
.flaticon-standing-business-man-with-tie:before { content: "\f1fa"; }
.flaticon-standing-business-man-with-tie-and-right-arm-raised:before { content: "\f1fb"; }
.flaticon-standing-businessman-thinking-with-his-right-hand-on-his-head:before { content: "\f1fc"; }
.flaticon-standing-businessman-with-money-bills-around:before { content: "\f1fd"; }
.flaticon-standing-businessman-with-rised-arm:before { content: "\f1fe"; }
.flaticon-standing-businessman-with-up-arrow:before { content: "\f1ff"; }
.flaticon-standing-businessmen-perspective-with-right-arrow:before { content: "\f200"; }
.flaticon-standing-frontal-businessman-with-tie:before { content: "\f201"; }
.flaticon-standing-frontal-man:before { content: "\f202"; }
.flaticon-standing-male-silhouette-with-raised-arms:before { content: "\f203"; }
.flaticon-standing-man:before { content: "\f204"; }
.flaticon-standing-man-1:before { content: "\f205"; }
.flaticon-standing-man-holding-a-book:before { content: "\f206"; }
.flaticon-standing-man-holding-white-signal:before { content: "\f207"; }
.flaticon-standing-man-in-praying-posture-of-hands-in-front-his-face:before { content: "\f208"; }
.flaticon-standing-man-silhouette-holding-a-disc:before { content: "\f209"; }
.flaticon-standing-man-silhouette-lifting-dumbbells-weight:before { content: "\f20a"; }
.flaticon-standing-man-with-hand-pointing-on-his-mouth-with-toothbrush:before { content: "\f20b"; }
.flaticon-standing-man-with-right-hand-on-his-face:before { content: "\f20c"; }
.flaticon-standing-man-with-tie-with-opened-arms-and-legs:before { content: "\f20d"; }
.flaticon-standing-persons-salutation-talking-one-to-each-other:before { content: "\f20e"; }
.flaticon-standing-yoga-posture-of-a-man-balancing-and-stretching:before { content: "\f20f"; }
.flaticon-stretching-male-silhouette:before { content: "\f210"; }
.flaticon-stretching-posture-for-back:before { content: "\f211"; }
.flaticon-student-child-and-adult-professor:before { content: "\f212"; }
.flaticon-swimmer-in-water:before { content: "\f213"; }
.flaticon-tea-break:before { content: "\f214"; }
.flaticon-team-of-males:before { content: "\f215"; }
.flaticon-test-with-time-control-for-a-business-man:before { content: "\f216"; }
.flaticon-three-businessmen:before { content: "\f217"; }
.flaticon-three-gears-of-configuration-tools:before { content: "\f218"; }
.flaticon-three-men-and-one-up-arrow:before { content: "\f219"; }
.flaticon-three-men-on-podium:before { content: "\f21a"; }
.flaticon-triangle-of-business:before { content: "\f21b"; }
.flaticon-two-business-men-competing:before { content: "\f21c"; }
.flaticon-two-businessmen:before { content: "\f21d"; }
.flaticon-two-businessmen-holding-a-flag:before { content: "\f21e"; }
.flaticon-two-businessmen-in-meeting:before { content: "\f21f"; }
.flaticon-two-businessmen-salutation:before { content: "\f220"; }
.flaticon-two-male-friends-communication-standing-one-in-front-of-the-other:before { content: "\f221"; }
.flaticon-two-men-couple:before { content: "\f222"; }
.flaticon-two-men-side-by-side-in-a-hug-with-raised-arms:before { content: "\f223"; }
.flaticon-two-persons-sitting-back-with-back-in-symmetrical-posture:before { content: "\f224"; }
.flaticon-two-standing-businessmen-side-by-side:before { content: "\f225"; }
.flaticon-up-arrow-of-money-incomes-and-business-man:before { content: "\f226"; }
.flaticon-world-international-targets-map-for-business:before { content: "\f227"; }
.flaticon-world-map-and-gears-symbols:before { content: "\f228"; }
.flaticon-world-map-with-flags:before { content: "\f229"; }
.flaticon-yoga-frontal-flexion-posture-silhouette-of-side-view:before { content: "\f22a"; }
.flaticon-yoga-sitting-posture-of-a-man:before { content: "\f22b"; }